.mainControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--dark) !important;
  font-size: 0.6em;
}

.mainControls button {
  color: var(--light);
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em;
  border: 1px solid var(--darker);
}

.mainControls button.pressed {
  background-color: var(--darker);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .mainControls {
    font-size: 1em;
  }
}
